<template>
  <div class="fleet-manager">
    <div class="list">
      <div
        v-for="machine in activeMachines"
        :key="machine.id"
        @click="chosenMachine = selectMachine(machine)"
        :class="
          chosenMachine && chosenMachine.id === machine.id ? 'highlight' : ''
        "
      >
        {{ machine.make }}
      </div>
    </div>
    <div class="details">
      <h4 v-if="!chosenMachine">No selection</h4>
      <div v-else>
        <h4>{{ chosenMachine.type.toUpperCase() }}</h4>
        <div
          class="location"
          v-for="(value, index) in chosenMachine.location"
          :key="index"
        >
          <b>{{ index }}:</b> {{ value }}
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { computed, ref } from "vue";
import machines from "../api/mockApi";

const activeMachines = computed(() =>
  machines.filter((machine) => machine.active)
);

const chosenMachine = ref(null);

const selectMachine = (machine) => {
  if (chosenMachine.value === null) {
    return (chosenMachine.value = machine);
  }
  return chosenMachine.value.id === machine.id ? null : machine;
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.list,
.details {
  display: inline-block;
  margin: 20px;
}
.list > div {
  cursor: pointer;
  padding: 4px 10px;
}

.highlight {
  background-color: #d1d1d1;
}

.location {
  text-align: left;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}
</style>
